#aboutUs {
  padding-top: 24px;
  padding-bottom: 48px;
  // background: linear-gradient(to bottom, $white, $blue);
  background-color: $white;
  .header-row {
    padding: 96px 0px;
    position: relative;
    z-index: 10;
    h2 {
      padding: 16px 0px;
    }
  }
  .subheader-row {
    position: relative;
    margin: 0px 0px 48px 0px;
    h2 {
      z-index: 10;
      position: relative;
    }
    img {
      z-index: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 50%;
    }
  }
  .team-row {
    margin-bottom: 48px;
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #aboutUs {
    margin-top: 24px;
    padding-bottom: 48px;
    background: $white;
    .header-row {
      padding: 24px 0px 48;
      position: relative;
      z-index: 10;
      h2 {
        padding: 0px 0px;
      }
    }
    .subheader-row {
      position: relative;
      margin: 0px 0px 24px 0px;
      h2 {
        z-index: 10;
        position: relative;
      }
      img {
        z-index: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
      }
    }
    .carousel {
      &:focus {
        outline: none;
      }
    }
    .team-row {
    }
  }
}
