#aboutHero {
  // height: 90vh;
  // min-height: 700px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  .hero-title-row {
    padding-top: 150px;
    text-align: center;
    z-index: 10;
    img {
      z-index: 0;
      position: absolute;
      transform: translate(-50%, 0%);
      left: 50%;
      bottom: -10%;
      width: 75%;
    }
    h1 {
      z-index: 100;
      position: relative;
    }
  }
  .hero-cta-row {
    margin-top: auto;
    text-align: center;
    padding-bottom: 50px;
    .arrow {
      padding-bottom: 50px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #aboutHero {
    min-height: 90vh;
    .hero-title-row {
      padding-top: 200px;
      text-align: center;
      z-index: 10;
      img {
        z-index: 0;
        position: absolute;
        transform: translate(-50%, 0%);
        left: 50%;
        bottom: 0%;
        width: 75%;
      }
      h1 {
        z-index: 100;
        position: relative;
      }
    }
    .hero-cta-row {
      margin-top: auto;
      text-align: center;
      .arrow {
        padding-bottom: 20px;
      }
    }
  }
}
