#applicationForm {
  .application-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
    .exit-button {
      padding: 75px 0px;
    }
    h1 {
      margin: 48px 0px;
    }
    p {
      width: 50%;
    }
    form {
      width: 80%;
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      .input-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;
        input,
        .pre-filled-input {
          display: flex;
          justify-content: flex-start;
          width: 48%;
          border: none;
          border-bottom: 1px solid $black;
          border-radius: 0px;
        }
      }
      #verification-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        button {
          width: 16%;
          border: none;
        }
        #verification {
          margin-left: 24px;
          border: 1px solid $light-black;
          border-radius: 5px;
          height: 50px;
          width: 288px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          input {
            margin: 0 0 0 16px;
            &[type="checkbox"] {
              -webkit-appearance: none;
              width: 24px;
              height: 24px;
              background: white;
              border-radius: 5px;
              border: 1px solid $light-black;
              cursor: pointer;
              &:focus {
                outline: none;
              }
              &:checked {
                background: $blue;
              }
            }
          }
          label {
            margin: 0 0 0 16px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints,md)) {
  #applicationForm {
    .application-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .exit-button {
        padding: 48px 0px;
      }
      h1 {
        margin: 48px 0px;
      }
      p {
        width: 75%;
      }
      form {
        width: 80%;
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        .input-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 0px;
          input,
          .pre-filled-input {
            margin-bottom: 40px;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            border: none;
            border-bottom: 1px solid $black;
            border-radius: 0px;
          }
        }
        button {
          width: 50%;
          border: none;
        }
        #verification-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          button {
            order: 2;
            width: 45%;
            border: none;
          }
          #verification {
            order: 1;
            margin-left: 0px;
            margin-bottom: 24px;
            border: 1px solid $light-black;
            border-radius: 5px;
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input {
              margin: 0 0 0 16px;
              &[type="checkbox"] {
                -webkit-appearance: none;
                width: 24px;
                height: 24px;
                background: white;
                border-radius: 5px;
                border: 1px solid $light-black;
                cursor: pointer;
                &:focus {
                  outline: none;
                }
                &:checked {
                  background: $blue;
                }
              }
            }
            label {
              margin: 0 0 0 16px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
