body {
    // border: 100px solid chocolate;
}

* {
    // transition: opacity 250ms linear;
}

// helper classes

.display-mobile {
    display: none;

    @media (max-width: map-get($grid-breakpoints,md)) {
        display: block;    
    }

    &.faq__footer {
        display: none;

        @media (max-width: map-get($grid-breakpoints,md)) {
            display: flex;    
        }
    }
}

.display-desktop {
    @media (max-width: map-get($grid-breakpoints,md)) {
        display: none !important;
    }
}

.display-large {
    @media (max-width: map-get($grid-breakpoints,lg)) {
        display: none;
    }
}

.blog-grid {
    position: relative;
    // padding: 0 20px;

    // general grid styles
    
    .row {
        > * {
            // padding-right: 0 !important;
            // padding-left: 0 !important;

            padding: 0;
            // border-right: 2px solid $black;
        }
    }


    .logo {
        
        
        background: $white;
        // border-right: 1px solid $black;
        border-bottom: 2px solid $black;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 0;

        position: relative;

        &:after {
            @media (min-width: map-get($grid-breakpoints,lg)) {
                content: '';
                position: absolute;
                right: -2px;
                top: 0;
                width: 2px;
                height: 100%;
                background: $black;
            }
        }

        #brokeNote__logo {
            padding: 102px 0 48px;
        }

        @media (min-width: map-get($grid-breakpoints,lg)) {
            position: absolute;
            top: 0;
            left: 0;    
            height: 403px;
            padding-left: 10px;
            z-index: 2;
            padding: 40px;
        }

        .logo--mobile {
            @media (min-width: map-get($grid-breakpoints,lg)) {
                display: none;
            }
        }

        .logo--desktop {
            display: none;

            @media (min-width: map-get($grid-breakpoints,lg)) {
                display: block;
            }
        }
    }

    .blog-carousel--mobile {
        display: block;

        @media (min-width: map-get($grid-breakpoints,lg)) {
            display: none;
        }
    }

    .blog-carousel {
        @media (max-width: map-get($grid-breakpoints,lg)) {
            display: none;
        }
    }

    .flickity-enabled {
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .flickity-viewport {
        position: relative;
        // max-height: 1150px;
        // box-shadow: 0 0 0 100px $blue;

        @media (min-width: map-get($grid-breakpoints,lg)) {
            overflow-y: hidden;
            max-height: calc(100vw + 200px);

            &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                height: 2px;
                width: 100%;
                background: $black;
            }
        }

        
    
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .group {
        // min-height: 100%;
    }

    .post {
        width: 33.333333%;
        // border-right: 2px solid $black;
        position: relative;
        max-height: 1200px;
        // height: 1200px;
        transition: 0.25s;

        @media (max-width: map-get($grid-breakpoints,lg)) {
            width: 100%;
            width: 100vw;
            border-bottom: 2px solid $black;
        }
        
        @media (min-width: map-get($grid-breakpoints,lg)) {
            &:after {
                content: '';
                position: absolute;
                right: -2px;
                top: 0;
                // height: 1100px;
                height: 100%;
                height: 58vw;
                height: 1200px;
                background: $black;
                width: 2px;
                z-index: 2222;
            }    
        }

        &:hover .post__image, &:focus .post__image {
            opacity: 0.65;
        }

        > a {
            @media (max-width: map-get($grid-breakpoints,lg)) {
                width: 100%;
                display: flex;
            }
        }

        

        .post__image {
            height: 403px;
            @include full-bg;
            margin: 0;
            border-bottom: 2px solid $black;
            background-position: center center;
            transition: 0.25s;

            @media (max-width: map-get($grid-breakpoints,lg)) {
                height: auto;
                width: 40%;
                border-bottom: 0;
            }
        }
    
        .post__meta {
            padding: 40px;

            > h3 {
                @media (min-width: map-get($grid-breakpoints,lg)) {
                    line-height: 68px;
                }
                
            }

            @media (max-width: map-get($grid-breakpoints,lg)) {
                width: 60%;
                padding: 20px 16px 18px;

                .post__description {
                    display: none;
                }

                .post__title {
                    font-size: 36px;   
                    line-height: 91%;
                    letter-spacing: -1.3px;
                    margin-bottom: 12px;
                }
            }
        }
    }

    .flickity-prev-next-button {
        content: '→';
        font-size: 40px;
        padding: 36px 0;
        border: 0;
        background-color: transparent;
        width: 50px;
        height: 40px;
        background-repeat: no-repeat;

        svg {
            display: none;
        }

        &.previous {
            background-image: url('../images/icons/arrow-left.svg');
            background-position: right center;
            margin-left: 41vw;

            @media (max-width: map-get($grid-breakpoints,lg)) {
                margin-left: 32px;
                // margin-right: calc(100vw - 64px)

                // transform: translateX(calc(80px));
            }
        }

        &.next {
            background-image: url('../images/icons/arrow-right.svg');
            background-position: left center;
            margin-left: 150px;

            @media (max-width: map-get($grid-breakpoints,lg)) {
                // margin-left: calc(100vw - 32px);
                margin-left: 0;
                position: relative;
                margin-right: auto;

                transform: translateX(calc(80vw - 72px));
            }
        }
        
    }


    // specific grid styles 

    &#blogIndex__BrokeNote {
        @media (max-width: map-get($grid-breakpoints,lg)) {
            .logo {
                padding: 0;
            }
        }
        
    }
    
    &#blogIndex__GroupChat {
        @media (max-width: map-get($grid-breakpoints,lg)) {
            .logo {
                padding: 24px 0 18px;
                margin: 0 auto;

                > img {
                    width: 400px;
                }
            }
        }
    }


}

.carousel__controls {
    .carousel-status {
        color: transparent;

        &::first-letter {
            color: $black;
        }
    }
}


.blogIndex__FAQ {
    background: rgba($blue, 0.4);
}

.faq__tags {
    display: flex;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    padding: 20px 40px;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: map-get($grid-breakpoints,md)) {
        padding: 12px 16px;
        overflow-x: scroll;
    }
    


    .tag {
        flex: auto;

        &:not(:last-child) {
            margin-right: 15px;
        }

        // width: 18.5%;
        justify-content: space-between;
        // background: hotpink;
        text-align: center;
        text-transform: uppercase;
        padding: 25px 0 15px;
        border: 2px solid $black;
        border-radius: 100px;
        cursor: pointer;

        font-family: "franklin gothic std";
        font-size: 64px;
        line-height: 59px;
        color: $black;
        font-weight: 400;
        letter-spacing: -1.4px;
        // text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        white-space: nowrap;

        transition: 0.25s;

        @media (min-width: map-get($grid-breakpoints,md)) {
            width: 260px;

        }

        @media (max-width: map-get($grid-breakpoints,md)) {
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0px;
            padding: 12px 20px 8px;
            width: auto;
        }

        &.active {
            background: $blue;
        }

        &:hover, &:focus {
            opacity: 0.65;
            transform: translateY(-3px);
        }
    }
}

.blogIndex__FAQ {

    .cta-graffiti.display-mobile {
        font-size: 104px;
        line-height: 59px;
        text-align: center;
        padding: 24px 0 22px;
        letter-spacing: -2.25333px;
        text-transform: uppercase;
    }

    .faq__main {

        .faq__header {
            padding: 52px 40px;

            .cta-graffiti.display-desktop {
                font-size: 240px;
            }

        }

        .faq__content {
            border-left: 2px solid $black;
            padding: 0 !important;

            @media (min-width: map-get($grid-breakpoints,md)) {
                max-height: 100vh;
                overflow-y: scroll;
            }

            @media (max-width: map-get($grid-breakpoints,md)) {
                border-left: none;
            }

            .post-wrapper {
                padding-top: 40px;
                padding-bottom: 40px;
                
                padding-left: 52px;
                border-bottom: 2px solid $black;

                transition: 0.25s;

                @media (max-width: map-get($grid-breakpoints,md)) {
                    padding-left: 32px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                &:hover, &:focus {
                    background: $blue;
                }

                .post-title {
                    font-family: "franklin gothic std";
                    font-size: 64px;
                    line-height: 59px;
                    color: $black;
                    font-weight: 400;
                    letter-spacing: -2px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-rendering: optimizeLegibility;
                    @media (max-width: map-get($grid-breakpoints,md)) {
                        font-size: 36px;
                        line-height: 32px;
                        letter-spacing: -1.3px;
                    }
                }

                .post__excerpt {
                    margin: 16px 0 24px;

                    @media (max-width: map-get($grid-breakpoints,md)) {
                        margin: 12px 0 24px;
                    }
                }

                .cta.inline-text-link {
                    color: $black !important;
                    border-color: $black !important;
                }
            }
        }
    }

}


#blogIndex__Questions {
    background: $dark-blue;

    .header {
        // padding: 77px;
        padding-left: 38px;
        padding-top: 77px;
        border-right: 2px solid $white;
        
        overflow: hidden;
        position: relative;

        @media (max-width: map-get($grid-breakpoints,md)) {
            padding: 28px 0 16px;
            border-bottom: 2px solid $white;
            border-right: 0;
        }

        &::before {
            position: absolute;
            top: 40%;
            left: 0;
            content: '?';
            font: {
                size: 76vw;
                family: "summer loving reg";
            }
            color: rgba($white, 0.25);
            
            @media (max-width: map-get($grid-breakpoints,md)) {
                display: none;
            }
        }

        .franklin-cta {
            text-transform: uppercase;

            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 48px;
                line-height: 40px;
                text-align: center;
            }
            
            @media (max-width: map-get($grid-breakpoints,xl)) {
                font-size: 60px;
                line-height: 53px;
            }
        }

        
    }

    .main {
        padding: 85px 66px 66px;

        @media (max-width: map-get($grid-breakpoints,md)) {
            padding: 33px 33px 40px;
        }

        h1 {
            margin-top: 0;
            margin-bottom: 24px;

            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 96px;
                line-height: 56px;
            }
        }

        .big-button {
            display: block;
            width: 100%;
            padding: 37px 0 27px;
            margin-top: 196px;

            background: $white;
            text-align: center;
            font: {
                family: "franklin gothic std";
                size: 48px;
            }
            text-transform: uppercase;
            color: $dark-blue;
            border-radius: 50px;
            transition: 0.25s;

            @media (max-width: map-get($grid-breakpoints,md)) {
                margin-top: 48px;
                padding: 9px 0px 3px;
                font-size: 40px;
                line-height: 48px;
            }

            &:hover, &:focus {
                opacity: 0.65;
                transform: translateY(-3px);
            }
            
        }

    }
}

#blogIndex__Email {
    background: $dark-blue;
    padding: 48px 20px;

    .text {
        position: relative;
        bottom: -10px;

        h3.title {
            margin-bottom: 12px;
    
            & + p {
                margin-bottom: 0;
            }
        }

        @media (max-width: map-get($grid-breakpoints,lg)) {
            text-align: center;

            margin-bottom: 64px;
        }
        
        @media (max-width: map-get($grid-breakpoints,md)) {
            text-align: center;

            margin-bottom: 32px;
        }
    }

    
    
    * {
        color: $white;
    }

    .blog__email__main {
        background: white;
        border-radius: 100px;

        @media (max-width: map-get($grid-breakpoints,md)) {
            margin-top: 32px;
        }

        form {
            margin-bottom: 0;

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            font-family: "franklin gothic std";
            font: {
                size: 48px;
            }
            text-transform: uppercase;
            letter-spacing: -1.04px;

            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 26px;
            }


            input[type="text"] {
                padding: 25px 40px 20px;
                flex-grow: 2;
                background: transparent;
                border-bottom: none;
                border: 0;
                text-transform: uppercase;
                color: $dark-blue;
                border-radius: 100px;
                border: 3px solid $white;
                outline: none;

                @media (max-width: map-get($grid-breakpoints,md)) {
                    // font-size: 26px;
                    padding: 13px 24px 9px;
                }

                &::placeholder {
                    color: rgba($dark-blue, .3);
                }

                // &:focus {
                //     outline: none;
                //     border: 3px solid $dark-blue;
                // }
            }
    
            button[type="submit"] {
                padding: 25px 40px 20px;
                border-radius: 100px;
                border: 3px solid $white;
                background-color: $dark-blue;
                text-transform: uppercase;
                white-space: nowrap;

                transition: all 250ms linear;

                @media (max-width: map-get($grid-breakpoints,md)) {
                    padding: 13px 15px 9px;
                }

                &:hover, &:focus {
                    // transition: all 250ms linear;
                    transform: translateY(-3px);
                    opacity: 0.65;
                    // background-color: rgba(235, 228, 163, 0.6);
                }

            }
        }

        
    }
 
}

