.flush {
    padding-right: 0;
    padding-left: 0;
}

@mixin full-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

// Article Templates

#site-container {
    main {
        &.blue { 
            background: $company-blue; 

            .tag {
                background: $blue;
            }
        }
        &.cream { 
            background: $cream; 
            .tag {
                background: $mustard;
            }
        }
        &.purple { 
            background: $purple; 
            .tag {
                background: $dark-purple;
            }
        }
        &.pale-yellow { 
            background: $pale-yellow; 
            .tag {
                background: $yellow;
            }
        }
        &.pale-red { 
            background: $pale-red; 
            .tag {
                background: $salmon;
            }
        }
        
    }
}

#blogTemplate {

    &.faqTemplate, &.interviewTemplate {
        padding-top: 168px;

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-top: 168px;
        }   
    }

    aside {
        padding-left: 30px;
        padding-right: 30px;

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-left: 40px;
            padding-right: 40px;
        }   
    }

    .post__header {

    }

    .post__header__image {
        @include full-bg;
        height: 50vh;
        margin: 0;
        background-position: center center;

        @media (min-width: map-get($grid-breakpoints,md)) {
            height: 80vh;
        }   
    }

    .post__header__title, .post__header__meta {
        border-bottom: 2px solid $black;
    }

    .post__header__title {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;

        p {
            & + p {
                padding-top: 26px;
            }
        }

        h1 {
            margin: 0;
            font-family: "franklin gothic std";
            font-size: 96px;
            line-height: 80px;
            color: $black;
            font-weight: 400;
            letter-spacing: -2px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 56px;
                line-height: 50px;
                letter-spacing: -1.25px;
            }

            // adjust vertical position manually

            transform: translateY(7.5px);
        }

        .tag {
            position: absolute;
            top: -15px;
            left: 40px;
            border-radius: 50px;
            border: 1px solid $black;
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: bold;

            @media (max-width: map-get($grid-breakpoints,md)) {
                left: 31px;
            }   
        }

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-top: 40px;
            padding-bottom: 40px;
        }   
    }
    
    .post__header__meta {
        padding-top: 20px;
        padding-bottom: 20px;

        dl {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;

            @media (max-width: map-get($grid-breakpoints,md)) {
                flex-direction: column;
            }  
            
            .twitter-icon, .link-icon {
                width: 26px;
                vertical-align: top;
                transform: scale(1.5);
                margin-right: 2rem;
                transition: 0.25s;

                &:hover, &:focus {
                    opacity: 0.65;
                }

            }

            .link-icon {
                margin-right: 2rem;
                margin-left: 0.5rem;
                cursor: pointer;

                @media (max-width: map-get($grid-breakpoints,md)) {
                    width: 25px;
                }  
            }

            @keyframes fadeOut {
                0% { opacity: 0; }
                50% { opacity: 1; }
                100% { opacity: 0; }
            }

            .copy-message {
                opacity: 0.65;
            }

            .meta__item {
                @media (max-width: map-get($grid-breakpoints,md)) {
                    margin-bottom: 6px;

                    &:last-child {
                        margin-bottom: 0;
                        margin-top: 12px;
                    }
                }  
            }

            dt, dd {
                margin: 0;
                display: inline;
            }

            dt {
                font-weight: normal;
                margin-right: 5px;
                color: rgba($black, 0.7);

                &.share-text {
                    @media (max-width: map-get($grid-breakpoints,md)) {
                        display: none;
                    }  
                }
            }

            dd {
                iframe { margin: 0; }

                &.link { margin-right: 0; }

                &.twitter-wrapper {
                    i { display: none; }
                }
            }

            dt + dd {
                margin-right: 48px;

                @media (min-width: map-get($grid-breakpoints,md)) {
                    margin-right: 48px;
                }   
            }

            .up {
                position: relative;
                bottom: 9px;
            }

            .urltext {
                display: none;
            }
        }

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-top: 25px;
            padding-bottom: 25px;
        }   
    }

    // post body

    main.post__body {

        > * {
            padding: 0 33px;
            padding-bottom: 24px;    

            @media (min-width: map-get($grid-breakpoints,md)) {
                padding: 0 100px;
                padding: 0 40px;
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 48px;    
            }

            &:first-child {
                padding-top: 56px;

                @media (min-width: map-get($grid-breakpoints,md)) {
                    padding-top: 64px;
                }
            }
        }

        blockquote {
            padding: 48px 56px;
            margin-left: 0;
            margin-right: 0;
            border-left: 0;
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;

            text-align: center;

            @media (min-width: map-get($grid-breakpoints,md)) {
                padding: 64px 150px;
            }

            > p {
                font-family: "franklin gothic std";
                text-transform: uppercase;
                font-size: 88px;
                line-height: 90%;
                font-weight: 400;
                color: $black;
                letter-spacing: -2.5px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: optimizeLegibility;
                @media (max-width: map-get($grid-breakpoints,md)) {
                    font-size: 48px;
                    line-height: 90%;
                    letter-spacing: -2.08px;
                }
            }

            & + * {
                padding-top: 64px;
            }
        }

        p img {
            width: 100%;
        }

        ul, ol {
            @media (min-width: map-get($grid-breakpoints,md)) {
                list-style-position: inside;
            }
        }

        ul {
            list-style: none;

            @media (min-width: map-get($grid-breakpoints,md)) {
            }

            li:before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: $salmon; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
        }

        iframe {
            @media (min-width: map-get($grid-breakpoints,md)) {
                width: 70%;
            }
        }

        video {
            width: 100%;
        }

        table {
            position: relative;
            @media (min-width: map-get($grid-breakpoints,md)) {
                padding-left: calc(100px + 1em);
                width: 50%;
                transform: translateX(100px);
                margin-bottom: 24px;
            }
            border-left: 0;
            
            *:before {
                content: '';
                position: absolute;
                left: -100px;
                display: block;
                width: 2px;
                height: 100%;
                background: $black;
            }
            

            td {

            }
        }
    }

    // related articles

    #libraryThumbnails {
        &.empty {
            display: none;
        }
    }

    .related {
        .franklin-cta {
            text-align: center;
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;
            padding: 40px 0 26px;
            margin: 0;
            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 44px;
                line-height: 100%;
                letter-spacing: -1.3px;
                padding: 30px 0;
            }
        }

        #libraryThumbnails > .row {
            display: flex;
            flex-flow: row wrap;
        }

        .post {
            width: 50%;
            display: none;
            padding: 40px;
            
            &:hover, &:focus {
                opacity: 0.65;
            }

            &:nth-child(-n+2){
                display: block;
            }

            &:first-child {
                border-right: 2px solid $black;

                @media (max-width: map-get($grid-breakpoints,md)) {
                    border-bottom: 2px solid $black;
                    border-right: 0;
                }
            }

            @media (max-width: map-get($grid-breakpoints,md)) {
                width: 100%;
                padding: 33px;
            }

            .tag {
                border-radius: 50px;
                border: 1px solid #0e1726;
                padding: 5px 10px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 16px;
                display: inline-block;
            }

            .inline-text-link {
                color: $black !important;
                border-color: $black !important;
            }
        }
        
        
    }

    // email block

    #blogIndex__Email {
        background: transparent;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;

        h3.title, p {
            color: $black;
        }
    }
}

.faqTemplate {

    .post__body {

        @media (max-width: map-get($grid-breakpoints,md)) {
            order: -1;

            .post__body__inner {
                margin-top: 48px;
            }
        }
        
        > .post__body__inner, .faq__footer {

            padding-left: 32px;
            padding-right: 32px;

            @media (min-width: map-get($grid-breakpoints,md)) {
                padding-left: 100px;
                padding-right: 100px;
                border-left: 2px solid $black;
                padding-top: 64px;                
            }
        }

    }

    .post__sidebar {
        .post__sidebar__header {
            text-align: center;
            padding: 24px 0;
            border-bottom: 2px solid $black;

            @media (max-width: map-get($grid-breakpoints,md)) {
                border-top: 2px solid $black;
            }

            img {
                margin-left: 10px;
            }
        }

        .post__sidebar__inner {
            text-align: center;

            img {
                margin: 40px auto 16px;
                width: 80%;
                display: block;
            }

            a {
                display: block;
                padding-bottom: 40px;
                border-bottom: 2px solid $black;
                text-decoration: underline;

                &:after {
                    content: url('../images/icons/arrow-diag-black.svg');
                    display: inline;
                    margin-left: 5px;
                    
                }
            }
        }

    }

    .faq__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        margin-left: 0;

        @media (max-width: map-get($grid-breakpoints,md)) {
            flex-direction: column;
            padding-bottom: 32px;
            padding-top: 8px;
        }
        
        .text {
            font-family: "franklin gothic std";
            font-weight: 400;
            font-size: 64px;
            line-height: 59px;
            letter-spacing: -1.4px;
            margin-bottom: 0;

            @media (max-width: map-get($grid-breakpoints,md)) {
                margin-bottom: 24px;
                font-size: 44px;
                line-height: 91%;
            }
        }

        a {
            font-family: "franklin gothic std";
            background: $black;
            color: $white;
            border-radius: 100px;
            font-size: 48px;
            line-height: 36px;
            letter-spacing: -1.25px;
            padding: 26px 84px 18px;
            text-transform: uppercase;
            white-space: nowrap;

            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 26px;
                line-height: 22px;
                width: 100%;
                text-align: center;
            }

            &:hover, &:focus {
                opacity: 0.65;
                transform: translateY(-3px);
            }
        }

        &.display-desktop {
            position: relative;
            border-top: 2px solid $black;
            &:before {
                content: '';
                position: absolute;
                top: -30px;
                left: -2px;
                height: 30px;
                background: $black;
                width: 2px;
            }
        }
    }

    #libraryThumbnails {
        border-bottom: 2px solid $black;
    }    
}