body {
    // border: 100px solid chocolate;
}

.blog-grid {

    // general grid styles
    
    .row {
        > * {
            // padding-right: 0 !important;
            // padding-left: 0 !important;

            padding: 0;
            border-right: 2px solid $black;
        }
    }

    .image-row {
        border-bottom: 2px solid $black;

        .logo {
            padding: 60px;
        }
    }

    .text-row {
        > * {
            padding: 40px;
            display: flex;
            flex-direction: column;
        }

        .inline-text-link {
            width: max-content;
        }
    }

    // specific grid styles 

    &#blogIndex__BrokeNote {

    }
    
    &#blogIndex__GroupChat {

    }


}


    .faq__tags {
        .active {
            opacity: 0.5;
        }
    }


#blogIndex__Questions {
    background: $dark-blue;

    .header {
        padding: 77px;
        border-right: 2px solid $white;
        
        overflow: hidden;
        position: relative;

        .franklin-cta {
            text-transform: uppercase;
        }

        &::before {
            position: absolute;
            top: 40%;
            left: 0;
            content: '?';
            font: {
                size: 76vw;
                family: "summer loving reg";
            }
            color: rgba($white, 0.25);

        }
    }

    .main {
        padding: 77px;

        .big-button {
            display: block;
            width: 100%;
            padding: 35px 0;
            margin-top: 196px;

            background: $white;
            text-align: center;
            font: {
                family: "franklin gothic std";
                size: 48px;
            }
            text-transform: uppercase;
            color: $dark-blue;
            border-radius: 50px;
            
        }

    }
}

#blogIndex__Email {
    background: $dark-blue;
    padding: 48px 20px;

    .text {
        position: relative;
        bottom: -10px;

        h3.title {
            margin-bottom: 12px;
    
            & + p {
                margin-bottom: 0;
            }
        }
    }

    
    
    * {
        color: $white;
    }

    .blog__email__main {
        background: white;
        border-radius: 100px;
        form {
            margin-bottom: 0;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            font-family: "franklin gothic std";
            font: {
                size: 48px;
            }
            text-transform: uppercase;
            letter-spacing: -1.04px;


            input[type="text"] {
        padding: 25px 40px 20px;
                flex-grow: 2;
                background: transparent;
                border-bottom: none;
                border: 0;
                text-transform: uppercase;
                color: $dark-blue;
                border-radius: 100px;
                border: 3px solid $white;
                outline: none;

                &::placeholder {
                    color: rgba($dark-blue, .3);
                }

                &:focus {
                    outline: none;
                    border: 3px solid $dark-blue;
                }
            }
    
            button[type="submit"] {
        padding: 25px 40px 20px;
                border-radius: 100px;
                border: 3px solid $white;
                background-color: $dark-blue;
                text-transform: uppercase;

            }
        }

        
    }
 
}