body {
    // border: 100px solid chocolate;
}

// helper classes

.display-mobile {
    display: none;

    @media (max-width: map-get($grid-breakpoints,md)) {
        display: block;    
    }
}

.display-desktop {
    @media (max-width: map-get($grid-breakpoints,md)) {
        display: none;
    }
}

.blog-grid {
    position: relative;
    padding: 0 20px;

    // general grid styles
    
    .row {
        > * {
            // padding-right: 0 !important;
            // padding-left: 0 !important;

            padding: 0;
            // border-right: 2px solid $black;
        }
    }


    .logo {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10px;
        z-index: 2;
        background: $white;
        border-right: 0;
        height: 403px;

        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flickity-enabled {
        width: 100%;
    }

    .post {
        width: 33%;
        border-right: 2px solid $black;

        .post__image {
            height: 403px;
            @include full-bg;

        }
    
        .post__meta {
            padding: 40px;
        }
    }

    // specific grid styles 

    &#blogIndex__BrokeNote {

    }
    
    &#blogIndex__GroupChat {

    }


}


    .faq__tags {
        
    }

.blogIndex__FAQ {
    background: rgba($blue, 0.4);
}

.faq__tags {
    display: flex;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    padding: 20px 40px;

    @media (max-width: map-get($grid-breakpoints,md)) {
        padding: 12px 16px;
        overflow-x: scroll;
    }
    


    .tag {
        flex: auto;

        &:not(:last-child) {
            margin-right: 15px;
        }

        // width: 18.5%;
        justify-content: space-between;
        // background: hotpink;
        text-align: center;
        text-transform: uppercase;
        padding: 25px 0 15px;
        border: 2px solid $black;
        border-radius: 100px;
        cursor: pointer;

        font-family: "franklin gothic std";
        font-size: 64px;
        line-height: 59px;
        color: $black;
        font-weight: 400;
        letter-spacing: -1.4px;
        // text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        white-space: nowrap;

        @media (min-width: map-get($grid-breakpoints,md)) {
            width: 260px;

        }

        @media (max-width: map-get($grid-breakpoints,md)) {
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0px;
            padding: 12px 20px 8px;
            width: auto;
        }

        &.active {
            background: $blue;
        }
    }
}

.blogIndex__FAQ {

    .cta-graffiti.display-mobile {
        font-size: 104px;
        line-height: 59px;
        text-align: center;
        padding: 24px 0 22px;
    }

    .faq__main {

        .faq__header {
            padding: 52px 40px;

            .cta-graffiti.display-desktop {
                font-size: 240px;
            }

        }

        .faq__content {
            border-left: 2px solid $black;
            padding: 0 !important;

            @media (max-width: map-get($grid-breakpoints,md)) {
                border-left: none;
            }

            .post-wrapper {
                padding-top: 40px;
                padding-bottom: 40px;
                
                padding-left: 52px;
                border-bottom: 2px solid $black;

                transition: 0.25s;

                @media (max-width: map-get($grid-breakpoints,md)) {
                    padding-left: 32px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                &:hover, &:focus {
                    background: $blue;
                }

                .post-title {
                    font-family: "franklin gothic std";
                    font-size: 64px;
                    line-height: 59px;
                    color: $black;
                    font-weight: 400;
                    letter-spacing: -2px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-rendering: optimizeLegibility;
                    @media (max-width: map-get($grid-breakpoints,md)) {
                        font-size: 36px;
                        line-height: 32px;
                        letter-spacing: -1.3px;
                    }
                }

                .post__excerpt {
                    margin: 16px 0 24px;

                    @media (max-width: map-get($grid-breakpoints,md)) {
                        margin: 12px 0 24px;
                    }
                }

                .cta.inline-text-link {
                    color: $black !important;
                    border-color: $black !important;
                }
            }
        }
    }

}


#blogIndex__Questions {
    background: $dark-blue;

    .header {
        padding: 77px;
        border-right: 2px solid $white;
        
        overflow: hidden;
        position: relative;

        .franklin-cta {
            text-transform: uppercase;
        }

        &::before {
            position: absolute;
            top: 40%;
            left: 0;
            content: '?';
            font: {
                size: 76vw;
                family: "summer loving reg";
            }
            color: rgba($white, 0.25);

        }
    }

    .main {
        padding: 77px;

        .big-button {
            display: block;
            width: 100%;
            padding: 35px 0;
            margin-top: 196px;

            background: $white;
            text-align: center;
            font: {
                family: "franklin gothic std";
                size: 48px;
            }
            text-transform: uppercase;
            color: $dark-blue;
            border-radius: 50px;
            
        }

    }
}

#blogIndex__Email {
    background: $dark-blue;
    padding: 48px 20px;

    .text {
        position: relative;
        bottom: -10px;

        h3.title {
            margin-bottom: 12px;
    
            & + p {
                margin-bottom: 0;
            }
        }

        @media (max-width: map-get($grid-breakpoints,lg)) {
            text-align: center;

            margin-bottom: 64px;
        }
        
        @media (max-width: map-get($grid-breakpoints,md)) {
            text-align: center;

            margin-bottom: 32px;
        }
    }

    
    
    * {
        color: $white;
    }

    .blog__email__main {
        background: white;
        border-radius: 100px;

        @media (max-width: map-get($grid-breakpoints,md)) {
            margin-top: 32px;
        }

        form {
            margin-bottom: 0;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            font-family: "franklin gothic std";
            font: {
                size: 48px;
            }
            text-transform: uppercase;
            letter-spacing: -1.04px;

            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 28px;
                // flex-direction: column;
            }


            input[type="text"] {
        padding: 25px 40px 20px;
                flex-grow: 2;
                background: transparent;
                border-bottom: none;
                border: 0;
                text-transform: uppercase;
                color: $dark-blue;
                border-radius: 100px;
                border: 3px solid $white;
                outline: none;

                &::placeholder {
                    color: rgba($dark-blue, .3);
                }

                &:focus {
                    outline: none;
                    border: 3px solid $dark-blue;
                }
            }
    
            button[type="submit"] {
        padding: 25px 40px 20px;
                border-radius: 100px;
                border: 3px solid $white;
                background-color: $dark-blue;
                text-transform: uppercase;

            }
        }

        
    }
 
}

