.flush {
    padding-right: 0;
    padding-left: 0;
}

@mixin full-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

// Article Templates

#site-container {
    main {
        &.blue { 
            background: $blue; 

            @media (max-width: map-get($grid-breakpoints,md)) {
                background: $company-blue;
            }
        }
        
        &.cream { 
            background: $cream; 

            // @media (max-width: map-get($grid-breakpoints,md)) {
            //     background: $cream;
            // }
        }

        
    }
}

#blogTemplate {

    &.faqTemplate {
        padding-top: 168px;

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-top: 168px;
        }   
    }

    aside {
        padding-left: 30px;
        padding-right: 30px;

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-left: 40px;
            padding-right: 40px;
        }   
    }

    .post__header {

    }

    .post__header__image {
        @include full-bg;
        height: 50vh;
        margin: 0;

        @media (min-width: map-get($grid-breakpoints,md)) {
            height: 80vh;
        }   
    }

    .post__header__title, .post__header__meta {
        border-bottom: 2px solid $black;
    }

    .post__header__title {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;

        p {
            & + p {
                padding-top: 26px;
            }
        }

        h1 {
            margin: 0;
            font-family: "franklin gothic std";
            font-size: 96px;
            line-height: 80px;
            color: $black;
            font-weight: 400;
            letter-spacing: -2px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            @media (max-width: map-get($grid-breakpoints,md)) {
                font-size: 56px;
                line-height: 50px;
                letter-spacing: -1.25px;
            }

            // adjust vertical position manually

            transform: translateY(7.5px);
        }

        .tag {
            position: absolute;
            top: -15px;
            left: 40px;

            background: $blue;
            border-radius: 50px;
            border: 1px solid $black;
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: bold;
        }

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-top: 40px;
            padding-bottom: 40px;
        }   
    }
    
    .post__header__meta {
        padding-top: 20px;
        padding-bottom: 20px;

        dl {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;

            @media (max-width: map-get($grid-breakpoints,md)) {
                flex-direction: column;
            }  
            
            .twitter-icon, .link-icon {
                width: 26px;
                vertical-align: top;
            }

            .link-icon {
                margin-right: 1rem;
            }

            dt, dd {
                margin: 0;
                display: inline;
            }

            dt {
                font-weight: normal;
                margin-right: 5px;
                color: rgba($black, 0.7);
            }

            dd {
                iframe { margin: 0; }

                &.link { margin-right: 0; }

                &.twitter-wrapper {
                    i { display: none; }

                    span {

                    }
                }
            }

            dt + dd {
                margin-right: 48px;

                @media (min-width: map-get($grid-breakpoints,md)) {
                    margin-right: 48px;
                }   
            }

            .up {
                position: relative;
                bottom: 9px;
            }
        }

        @media (min-width: map-get($grid-breakpoints,md)) {
            padding-top: 25px;
            padding-bottom: 25px;
        }   
    }

    // post body

    main.post__body {

        > * {
            padding: 0 33px;
            // padding-bottom: 56px;    
            padding-bottom: 24px;    

            @media (min-width: map-get($grid-breakpoints,md)) {
                padding: 0 100px;
                margin-left: 30%;
                border-left: 2px solid $black;
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 64px;    
            }

            &:first-child {
                padding-top: 56px;

                @media (min-width: map-get($grid-breakpoints,md)) {
                    padding-top: 64px;
                }
            }
        }

        blockquote {
            padding: 48px 56px;
            margin-left: 0;
            margin-right: 0;
            border-left: 0;
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;

            text-align: center;

            @media (min-width: map-get($grid-breakpoints,md)) {
                padding: 64px 150px;
            }

            > p {
                font-family: "summer loving reg";
                text-transform: lowercase;
                font-size: 120px;
                line-height: 96px;
                font-weight: 400;
                color: $black;
                letter-spacing: -2.5px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: optimizeLegibility;
                @media (max-width: map-get($grid-breakpoints,md)) {
                    font-size: 96px;
                    line-height: 56px;
                    letter-spacing: -2.08px;
                }
            }

            & + * {
                padding-top: 64px;
            }
        }

        p img {
            width: 100%;
            // @media (max-width: map-get($grid-breakpoints,md)) {
            //     width: 100%;
            // }
        }

        ul, ol {
            @media (min-width: map-get($grid-breakpoints,md)) {
                list-style-position: inside;
            }
        }

        ul {
            list-style: none;
            // padding-left: calc(100px + 1em);

            @media (min-width: map-get($grid-breakpoints,md)) {
                padding-left: calc(100px + 1em);
            }

            li:before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: $salmon; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
        }
    }

    // email block

    #blogIndex__Email {
        background: transparent;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;

        h3.title, p {
            color: $black;
        }
    }
}