#campaignCarousel {
  background: $blue;
  padding-top: 8em;

  min-height: 100vh;
  .title-row {
    margin-bottom: 2em;
  }
  .carousel {
    ol {
      list-style: none;
    }
    .flickity-page-dots {
      height: 4em;
      display: flex;
      justify-content: center;
      bottom: -22px;
    }
    /* dots are lines */
    .flickity-page-dots .dot {
      cursor: pointer;
      height: 16px;
      width: 16px;
      margin: 0 .5em;
      color: $black;
      background: rgba(0,0,0,.3);
      border-radius: 50%;
      &.is-selected {
        background: rgba(0,0,0,1);
      }
    }
    &:focus {
      outline: none;
    }
    &--inner {
      padding: 1em;
      margin: 1em;
      width: 100%;
      display: flex;
      justify-content: center;
      .slide {
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        &.is-quote {
          .title {
            margin-bottom: .25em;
          }
        }
        &.is-video {}
      }

    }
  }
}