#companiesCompanies {
  background-color: $white;
  .company-row {
    .company-information {
      padding: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .eyebrow {
        margin-bottom: 16px;
      }
      h3 {
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 24px;
      }
      a {
        color: $transparent;
      }
    }
  }
  .cta-row {
    .information {
      padding: 88px 24px 24px 24px;
      display: flex;
      flex-direction: column;
      p {
        width: 75%;
        margin-top: 24px;
      }
      a {
        margin-top: auto;
        width: 380px;
        padding-bottom: 0;
        border-bottom: 1px solid $black;
        h3 {
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #companiesCompanies {
    .company-row {
      .company-information {
        padding: 54px 10%;
        .eyebrow {
          margin-bottom: 16px;
        }
        h3 {
          margin-bottom: 8px;
        }
        p {
          margin-bottom: 24px;
        }
        a {
        }
      }
    }
    .company-image {
      height: 50vh;
    }
    .cta-row {
      .information {
        padding: 88px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
        p {
          width: 100%;
          margin-top: 24px;
          margin-bottom: 54px;
        }
        a {
          margin-top: auto;
          text-align: center;
          margin-left: 13%;
          padding-bottom: 0;
          border-bottom: 1px solid $black;
          h3 {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
