#email-form-outer {
  height: 100%;
  width: 100%;
  #email-signup-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #email-cta {
    }
    form {
      width: 100%;
      height: 62px;
      padding: 0px 4px 0px 15px;
      margin: 0;
      background-color: $white;
      display: flex;
      border-radius: 40px;
      justify-content: space-between;
      align-items: center;
      #email-input {
        background-color: $transparent;
        color: $black;
        border: none;
        width: 80%;
        &::placeholder {
          font-size: 16px;
          font-weight: 700;
        }
        &:focus,
        &:active {
          border: none;
          outline: none;
        }
      }
      #submit-button {
        background-color: $black;
        height: 56px;
        width: 56px;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 700;
        border: none;
        color: $white;
      }
    }
  }
}

.email-form-main {
  margin-top: auto;
  width: 100%;
  form {
    width: 90%;
    height: 100px;
    display: flex;
    #email-input-main {
      width: 90%;
      background-color: $black;
      color: $white;
      border: none;
      border-bottom: 1px solid $white;
      border-radius: 0;
      height: 100%;
      font-size: 72px;
      &::placeholder {
        font-family: "franklin gothic std";
        font-size: 72px;
      }
      &:focus,
      &:active {
        border: none;
        border-bottom: 1px solid $white;
        outline: none;
      }
    }
    #submit-button-main {
      height: 100%;
      width: 10%;
      font-size: 49px;
      background-color: $black;
      img {
        opacity: 0;
        transition: opacity 250ms linear;
      }

      border: none;
      border-bottom: 1px solid $white;
      border-radius: 0;
      &:focus,
      &:active {
        border: none;
        border-bottom: 1px solid $white;
        outline: none;
      }
      &.show {
        img {
          opacity: 1;
          transition: opacity 250ms linear;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #email-form-outer {
    height: 100%;
    width: 100%;
    #email-signup-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      #email-cta {
      }
      form {
        width: 100%;
        height: 65px;
        padding: 0px 4px 0px 15px;
        margin: 15px 0px;
        background-color: $white;
        display: flex;
        border-radius: 40px;
        justify-content: space-between;
        align-items: center;
        #email-input {
          background-color: $transparent;
          color: $black;
          width: 75%;
          border: none;
          &:focus,
          &:active {
            border: none;
            outline: none;
          }
        }
        #submit-button {
          background-color: $black;
          // height: 90%;
          border-radius: 50%;
          color: $white;
        }
      }
    }
  }
  .email-form-main {
    margin-top: auto;
    width: 90%;
    margin: 30px 0px;
    form {
      width: 100%;
      height: 60px;
      #email-input-main {
        width: 80%;
        background-color: $black;
        color: $white;
        border: none;
        border-bottom: 1px solid $white;
        border-radius: 0;
        height: 100%;
        font-size: 24px;
        &::placeholder {
          font-size: 24px;
        }
        &:focus,
        &:active {
          border: none;
          border-bottom: 1px solid $white;
          outline: none;
        }
      }
      #submit-button-main {
        height: 100%;
        width: 20%;
        padding-right: 0px;
        background-color: $black;
        img {
          opacity: 1;
          width: 95%;
          transition: opacity 250ms linear;
        }

        border: none;
        border-bottom: 1px solid $white;
        border-radius: 0;
        &:focus,
        &:active {
          border: none;
          border-bottom: 1px solid $white;
          outline: none;
        }
      }
    }
  }
}

// global email popup

#email-popup {
  transition: 0.25s;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  background: $salmon;
  text-align: center;
  // position: relative;
  padding: 42px 32px 32px 32px;
  box-shadow: 0px 0px 10px #F15953;
  z-index: 1000;

  @media (max-width: map-get($grid-breakpoints,md)) {
    padding: 42px 32px 32px 32px;  
  }

  &.active {
    display: inline-block;
  }

  .email-toggle {
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -25px;
    font-size: 120px;
    line-height: 96px;

    @media (max-width: map-get($grid-breakpoints,md)) {
      // top: 50%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */
      transform: translateX(-50%);
    }
  }

  #email-cta {
    font-size: 120px;
    line-height: 96px;
    font-family: "summer loving reg";
    margin-bottom: 27px;

    @media (max-width: map-get($grid-breakpoints,md)) {
      font-size: 74.386px;
      line-height: 60px;
      margin-bottom: 25px;  
    }
  }
  
  #email-subtitle {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.25px; 
    margin-bottom: 24px;

    // @media (max-width: map-get($grid-breakpoints,md)) {
    //   font-size: 20px;
    //   line-height: 26px;
    //   letter-spacing: -0.25px; 
    // }
  }

  form {
    background: $white;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;

    @media (max-width: map-get($grid-breakpoints,md)) {
      padding-left: 25px;
    }

    input[type="text"], input[type="submit"] {
      border: 0;
      outline: none;
      appearance: none;
      font-size: 48px;
      line-height: 59px;
      font-family: "franklin gothic std";
      text-transform: uppercase;

      @media (max-width: map-get($grid-breakpoints,md)) {
        font-size: 29.75px;
        line-height: 36.57px;
      }
    }

    input[type="text"] {
      padding: 20px 0 14px;

      @media (max-width: map-get($grid-breakpoints,md)) {
        padding: 12px 0 8px;
      }
    }

    input[type="submit"] {
      border-radius: 100px;
      background: $black;
      color: $white;
      // padding: 31px 19.5px 20px 24px;
      width: 87px;
      height: 87px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(3px) translateX(-4px);
      padding-top: 10px;

      @media (max-width: map-get($grid-breakpoints,md)) {
        width: 54px;
        height: 54px;
        transform: translateY(1px) translateX(-2px);
        padding-top: 6px;
      }
   
    }
  }




}