#footer {
  a,
  .recycle {
    opacity: 1;
    transition: opacity 150ms linear;
    &:hover {
      opacity: 0.65;
      color: $black;
      transition: opacity 150ms linear;
    }
  }
  h2 {
    font-family: "franklin gothic std";
    font-weight: 400;
    font-size: 160px;
    color: $black;
    line-height: 124px;
    letter-spacing: -4.5px;
    margin-top: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @media (max-width: map-get($grid-breakpoints,md)) {
      font-size: 60px;
      line-height: 54px;
      letter-spacing: -1.3px;
    }
  }
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #footer-header-section {
    .social-icons {
      img {
        cursor: pointer;
        width: 75px;
        margin-right: 16px;
      }
    }
  }
  #footer-link-section {
    #footer-page-links {
      display: flex;
      .footer-link-column {
        display: flex;
        flex-direction: column;
        width: 33%;
      }
    }
    #footer-email-column {
      display: flex;
      justify-content: space-between;
      min-height: 110px;
      #footer-email-container {
        width: 75%;
      }
      .footer-icon {
        align-self: flex-end;
        margin-bottom: -5px;
        width: 72px;
        height: 72px;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #footer {
    a,
    .recycle {
      opacity: 1;
      &:hover {
        opacity: 1;
      }
    }
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #footer-header-section {
      .social-icons {
        img {
          cursor: pointer;
          width: 50px;
          margin-bottom: 16px;
          margin-right: 16px;
        }
      }
    }
    #footer-link-section {
      .footer-icon {
        // align-self: center;
        margin-top: 15px;
        width: 56px;
        height: 56px;
      }
      #footer-page-links {
        display: flex;
        .footer-link-column {
          display: flex;
          flex-direction: column;
          width: 50%;
        }
      }
      #footer-email-column {
        display: flex;
        justify-content: space-between;
        min-height: 110px;
        margin-bottom: 24px;
        #footer-email-container {
          width: 100%;
        }
      }
    }
  }
}
