#homeOurCompanies {
  display: flex;
  flex-direction: column;
  background-color: $white;
  // background: linear-gradient(to bottom, $white, $blue);
  .left-container {
    img {
      width: 100%;
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    .eyebrow {
      padding-bottom: 16px;
    }
    h3,
    p {
      width: 75%;
    }
    .inline-text-link {
      width: 120px;
    }
  }
  #ten-k-jobs-row {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .cta-graffiti {
      margin-top: -30px;
    }
    .body-text {
      width: 75%;
      text-align: center;
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #homeOurCompanies {
    display: flex;
    flex-direction: column;
    .right-container {
      padding: 20px;
      .eyebrow {
        padding-top: 16px;
      }
      h3 {
        width: 75%;
      }
      p {
        width: 100%;
      }
      .inline-text-link {
        width: 33%;
      }
    }
    #ten-k-jobs-row {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cta-graffiti {
        margin-top: -30px;
      }
      .body-text {
        width: 100%;
        text-align: center;
      }
    }
  }
}
