#homeAbout {
  height: 75vh;
  max-height: 700px;
  .left-container {
    padding: 10% 0% 0% 10%;
  }
  .right-container {
    padding: 10% 10% 0% 10%;
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #homeAbout {
    height: 545px;
    max-height: 545px;
    .left-container {
      padding: 56px 20px 5px 20px;
    }
    .right-container {
      padding: 5px 20px 56px 20px;
    }
  }
}
