// Required Boostrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Override Bootstrap Variables
$grid-columns: 12;
$grid-gutter-width: 20px;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
);

$white: #fff;
$black: #0e1726;
$light-black: rgba(14, 23, 38, 0.6);
$salmon: #f15953;
$mustard: #ecc86f;

$blue: #c0e7ed;
$purple: #E8E3F0;
$dark-purple: #B18BE6;
$pale-yellow: #E8E3F0;
$pale-red: #F2E3E2;
$cream: #F5F0E3;

$dark-blue: #0E1726;
$yellow: #ebe4a3;
$light-yellow: rgba(235, 228, 163, 0.6);

$company-purple: #ececfc;
$company-blue: #e6f7fa;
$company-green: #ebfbf4;
$company-pink: #fce4dc;
$company-yellow: #f9f4ea;
$transparent: transparent;
$site-border-black: #101725;
$site-border-blue: #c8e6ec;
$site-border-orange: #df6359;
$site-border-yellow: #e6c87c;

$theme-colors: (
  "white": $white,
  "black": $black,
  "light-black": $light-black,
  "transparent": $transparent,
  "salmon": $salmon,
  "mustard": $mustard,
  "blue": $blue,
  "yellow": $yellow,
  "light-yellow": $light-yellow,
  "company-purple": $company-purple,
  "company-blue": $company-blue,
  "company-green": $company-green,
  "company-pink": $company-pink,
  "company-yellow": $company-yellow,
  "site-border-black": $site-border-black,
  "site-border-blue": $site-border-blue,
  "site-border-orange": $site-border-orange,
  "site-border-yellow": $site-border-yellow,
);

// Optional Bootstrap
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/navbar";

// Additional Scripts

// Global Styles
@import "./layout.scss";
@import "./main.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./layout.scss";
@import "./typography.scss";
@import "./email.scss";
@import "./accordion.scss";
@import "./menu.scss";
@import "./pages.scss";
@import "./carousel.scss";

// Home Page Styles
@import "./homeHero.scss";
@import "./homeAbout.scss";
@import "./homeOurCompanies.scss";
@import "./homeEmailCapture.scss";

// About Page Styles
@import "./aboutHero.scss";
@import "./aboutAbout.scss";
@import "./aboutUs.scss";

// Companies Page Styles
@import "./companiesHero.scss";
@import "./companiesAbout.scss";
@import "./companiesCompanies.scss";

// Jobs Page Styles
@import "./jobsHero.scss";
@import "./jobsAbout.scss";
@import "./jobsApplication.scss";
@import "./jobsReviews.scss";
@import "./jobsFAQ.scss";

// Application Styles
@import "./applicationForm.scss";

// Campaign Page Styles
@import './campaignHero.scss';
@import './campaignSubHero.scss';
@import './campaignMap.scss';
@import './campaignPetition.scss';
@import './campaignCarousel.scss';

// Blog Styles
@import './blogArticle.scss';
@import './blogIndex.scss';

