#jobsReviews {
  background-color: $white;
  .hero-row {
    h2 {
      margin-top: 64px;
    }
    .cta-graffiti {
      margin-top: -75px;
    }
  }
  #reviewsRow {
    padding: 48px 16px 152px;
    .review-container {
      .review-box {
        padding: 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        p {
          width: 75%;
        }
        .meta-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          img {
            width: 90px;
            margin-bottom: 16px;
          }
          h3 {
            margin: 0;
            padding-right: 16px;
          }
        }
        .profile-photo {
          position: absolute;
          width: 175px;
          transform: translate(0%, 50%);
          bottom: 0%;
          left: 10%;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #jobsReviews {
    .hero-row {
      h2 {
        margin-top: 50px;
      }
      .cta-graffiti {
        margin-top: 0px;
      }
    }
    #reviewsRow {
      padding: 48px 16px 48px;
      .review-container {
        margin-bottom: 148px;
        .review-box {
          padding: 8%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          p {
            width: 100%;
          }
          .meta-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 88px;
            img {
              width: 90px;
              margin-bottom: 16px;
            }
            h3 {
              margin: 0;
            }
          }
          .profile-photo {
            position: absolute;
            width: 175px;
            transform: translate(50%, 50%);
            bottom: 0%;
            left: 0%;
          }
        }
      }
    }
  }
}
