#jobsAbout {
  position: relative;
  background-color: $white;
  .offset-button-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -75px;
    .button-inline {
      position: relative;
      z-index: 10;
      padding: 24px 166px;
      cursor: pointer;
    }
  }
  #logo-row {
    padding: 88px 0px 88px;
    .navigational-graffiti {
      padding-bottom: 2rem;
    }
    .logo-col {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
      }
    }
  }
  .image-rows {
    position: relative;
    height: auto;
    &.top {
      margin-bottom: 104px;
      min-height: 70vh;
      img {
        width: 75%;
        float: right;
      }
      .floating-col {
        // position: absolute;
        height: 100%;

        padding: 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &.bottom {
      margin-bottom: 0px;
      .desktop-img {
        // width: 50%;
      }
      .floating-col {
        // position: absolute;
        margin-bottom: 120px;
        height: 100%;
        padding: 0px 56px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    .floating-col {
      span {
        font-family: "summer loving reg";
        color: $salmon;
        font-size: 40px;
        margin-right: 8px;
      }
      h3 {
      }
      ol {
        li {
          font-family: "summer loving reg";
          color: $salmon;
          font-size: 40px;
          margin-right: 8px;
          span {
            left: 8px;
            position: relative;
            font-family: helvetica;
            font-size: 20px;
            font-weight: 400;
            color: $black;
            line-height: 26px;
            letter-spacing: -0.25px;
          }
        }
      }
    }
  }
  .list-item-row {
    background-color: $white;
    padding-top: 48px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    ul {
      list-style: none;
      li::before {
        content: "\2022";
        color: $salmon;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #jobsAbout {
    position: relative;
    .offset-button-container {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 2px;
      .button-inline {
        padding-left: 48px;
        padding-right: 48px;
      }
    }
    #logo-row {
      padding: 100px 0px 50px;
      .logo-col {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 150px;
        }
      }
    }
    .image-rows {
      position: relative;
      height: auto;
      &.top {
        min-height: auto;
        margin-bottom: 48px;
        img {
          width: 100%;
          float: right;
        }
        .floating-col {
          height: 100%;
          padding: 20px;
          padding-top: 88px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      &.bottom {
        .floating-col {
          // position: absolute;
          margin-bottom: 0px;
          height: 100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      }
      .floating-col {
        position: relative;
        height: 100%;
        padding: 20px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          font-family: "summer loving reg";
          color: $salmon;
          font-size: 40px;
          margin-right: 8px;
        }
      }
    }
    .list-item-row {
      padding-top: 48px;
      padding-bottom: 48px;
      display: flex;
      justify-content: center;
    }
  }
}
