#jobsApplication {
  padding-bottom: 0px;
  .gif-row {
    img {
      width: 75%;
    }
  }
  .header-row {
    .cta-graffiti {
      margin-top: -50px;
    }
  }
  .form-row {
    min-height: 90vh;
    .information-column {
      padding-top: 96px;
      .button-inline {
        padding: 20px 24px;
      }
      ol {
        li {
          font-family: "summer loving reg";
          color: $salmon;
          font-size: 40px;
          margin-right: 8px;
          span {
            left: 8px;
            position: relative;
            font-family: helvetica;
            font-size: 20px;
            font-weight: 400;
            color: $black;
            line-height: 26px;
            letter-spacing: -0.25px;
          }
        }
      }
    }
    .form-column {
      form {
        margin-top: 96px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        input {
          height: 72px;
          width: 75%;
          border: 1px solid $light-black;
          padding: 0px 25px;
          border-radius: 400px;
          min-width: 500px;
          margin-bottom: 24px;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: $light-black;
          }
        }
        button {
          height: 52px;
        }
      }
    }
  }
  .list-item-row {
    background-color: $white;
    padding-top: 48px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    ul {
      list-style: none;
      li::before {
        content: "\2022";
        color: $salmon;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints,md)) {
  #jobsApplication {
    .gif-row {
      img {
        width: 100%;
      }
    }
    .header-row {
      .cta-graffiti {
        margin-top: 40px;
        width: 75%;
        text-align: center;
      }
    }
    .form-row {
      min-height: 60vh;
      .information-column {
        // display: none;
        padding-top: 48px;
      }
      .form-column {
        form {
          margin-top: 48px;
          margin-bottom: 48px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          input {
            height: 64px;
            width: 100%;
            border: 1px solid $light-black;
            padding: 0px 25px;
            border-radius: 400px;
            margin-bottom: 24px;
            min-width: 250px;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: $light-black;
            }
          }
          button {
            height: 64px;
            width: 100% !important;
          }
        }
      }
    }
    .list-item-row {
      padding-top: 48px;
      padding-bottom: 48px;
      display: flex;
      justify-content: center;
    }
  }
}
