#search-results {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  height: 100px;
  z-index: 9999999999999;
  background: $off-white;

  display: none;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0;

  &.active {
    display: flex;
  }

  #search-back,
  #search-toggle {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    border: none;
    top: 32px;
    padding: 0;
    margin: 0;
  }

  #search-back {
    left: 41px;
  }
  #search-toggle {
    right: 41px;
  }

  .search-results__container {
    width: 100%;
    padding: 0;
    height: calc(100vh - 112px);
    overflow-y: auto;
    overflow-x: hidden;
    > div {
      width: 100%;
    }
  }

  .search-results__details {
    max-width: 775px;
    > p {
      margin: 0.5em 0 1em;
    }
  }

  .search-results__result {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    border-bottom: 2px solid $dark-blue;
    color: $dark-blue;

    > p {
      font-family: helvetica;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      padding: 1em;
    }

    > div:first-of-type {
      padding: 0;
      border-right: 2px solid $dark-blue;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    > div:last-of-type {
      padding: 22px 33px;
      @media (max-width: map-get($grid-breakpoints,md)) {
        padding: 22px;
      }
      @media (max-width: map-get($grid-breakpoints,sm)) {
        padding: 16px 8px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      margin-bottom: 16px;

      li {
        font-family: helvetica;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 500px;
        letter-spacing: 0.92px;
        line-height: 1;
        margin: 0;
      }
    }

    a.search-result__title {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-family: "franklin gothic std";
      font-size: clamp(24px, 7vw, 64px);
      line-height: 0.925em;
      max-height: 1.8em;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;
    }

    p.search-result__description {
      font-size: clamp(24px, 7vw, 64px);
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: clamp(16px, 7vw, 20px);
      line-height: 1.3em;
      letter-spacing: -0.0125em;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    a.search-result__more {
      font-size: clamp(16px, 7vw, 20px);
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .search-results__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      font-family: "summer loving reg";
      text-transform: lowercase;
      font-size: clamp(50px, 12.5vw, 200px);
    }
    @media (max-width: map-get($grid-breakpoints,sm)) {
      display: none;
    }
  }

  .search-results__header {
    width: 100%;
    height: 110px;
    border-bottom: 2px solid $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    p {
      font-family: "franklin gothic std";
      font-size: clamp(24px, 7vw, 64px);
      line-height: 0.921875;
      margin: 0;

      span {
        opacity: 0.6;
      }
      span:nth-child(2) {
        display: none;
      }
      span:last-of-type {
        opacity: 1;
      }

      @media (max-width: map-get($grid-breakpoints,sm)) {
        span:first-of-type {
          display: none;
        }
        span:nth-child(2) {
          display: inline-block;
        }
      }
    }
  }
}
